{% extends 'base.html'%}


{% block body %}
<h1>{% block title %} Add a New Post {% endblock %}</h1>
    <form method="post">

        <label for="title">Title</label>
        <br>
        <input type="text" name="title"
               placeholder="Message title"
               value="{{ request.form['title'] }}"></input>
        <br>

        <label for="content">Message Content</label>
        <br>
        <textarea name="content"
                  placeholder="Message content"
                  rows="15"
                  cols="60"
                  >{{ request.form['content'] }}</textarea>
        <br>
        <button type="submit">Submit</button>

  </form>
  <br>
  <div>
    <a href="{{ url_for('users_app.users_list') }}">
      Back to products list
    </a>
  </div>
{% endblock %}