<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}
                Base title
            {% endblock %}

        </title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">App</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                
                 {% for name, label in [
                        ('index', 'Home'),
                        ('about_app.about', 'About'),
                        ('users_app.users_list', 'Users'),
                        ('users_app.add_user', 'Create User')
                    ] %}

                    {% set path = url_for(name) %}

                  <li class="nav-item">
                    <a class="nav-link {{'active' if request.path == path else '' }}" 
                     href="{{ path }}"> {{ label }}</a>
                  </li>
                {% endfor %}
                  
                </ul>
              </div>
            </div>
          </nav>

        {% block body %}
            Base body
        {% endblock %}



    </body>
</html>